/* Reset basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body {
  background-color: #bfcbd7;
  color: #333;

}

/* Header */
header {
  background-color: #0d6efd;
  color: white;
  padding: 20px;
  text-align: center;

}

header h1 {
  margin-bottom: 10px;
}

/* Navigation */
nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
  
}


/* Sections */
section {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

/* Article */
article {
  
  padding: 15px;

  margin-top: 10px;
}

/* Lists */
ul {
  margin-left: 20px;
}

/* Form */
form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;

}



/* Footer */
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
